* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background-color: #181818;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}
a {
  color: inherit;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

@media (max-width: 991px) {
  img,
  video {
    object-fit: cover;
    height: 100%;
  }
}

.navigation {
  background-color: black;
}
/* 
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  right: -10px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: rgb(253, 0, 173);
}

#menuToggle input {
  display: block;
  width: 50px;
  height: 32px;
  position: absolute;
  top: -2px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 8% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  opacity: 80%;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(75%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
} */

.nav {
  margin-left: 260px;
  margin-bottom: auto;
}

h1 {
  text-align: center;
  width: 300px;
  margin-left: 155px;
}

@media (max-width: 991px) {
  h1 {
    text-align: center;
    width: 180px;
    margin-left: 5px;
  }
}

header {
  background-image: url(../img/header-image.png);
  height: 55vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.text_welcome {
  margin: -150px 40px 0px;
  text-align: center;
  font-size: 38px;
  background: #9f9f9f;
  padding: 50px;
  margin-bottom: 220px;
}

@media (max-width: 991px) {
  .text_welcome {
    margin: -50px 40px 40px;
    text-align: center;
    font-size: 14px;
    padding: 17px;
  }
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 38px;
  margin: 40px 0;
  color: #f24c7d;
}

@media (max-width: 991px) {
  h2 {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }
}

.Horaire-text {
  font-size: 28px;
  margin-left: 40px;
}

@media (max-width: 991px) {
  .Horaire-text {
    font-size: 14px;
  }
}

#slider,
#slider-2 {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul,
#slider-2 ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li,
#slider-2 ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 900px;
  height: 500px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

@media (max-width: 991px) {
  #slider ul li,
  #slider-2 ul li {
    width: 100%;
  }
}

a.control_prev,
a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  opacity: 0.6;
  cursor: pointer;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.Boutton {
  display: flex;
  justify-content: center;
  font-size: 28px;
  border-radius: 50px;
  background: #9f9f9f;
  padding: 10px;
  margin: 120px 150px 40px 150px;
}

@media (max-width: 991px) {
  .Boutton {
    font-size: 15px;
    margin: 60px 10px 0 10px;
  }
}

.groupe-rouge {
  text-align: center;
  margin-top: 120px;
}

@media (max-width: 991px) {
  .groupe-rouge {
    font-size: 12px;
    height: 25vw;
    margin-top: 80px;
    margin-bottom: 140px;
    font-family: "Josefin Sans", sans-serif;
  }
}

.text-icon {
  font-size: 24px;
  margin: 30px 0 70px 0;
  padding: 10px 45px;
}

@media (max-width: 991px) {
  .text-icon {
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
  }
}

footer {
  background-image: url(../img/image-footer.png);
  height: 35vw;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 991px) {
  footer {
    font-size: 15px;
    height: 95vw;
  }
}

footer p {
  font-size: 22px;
  margin-left: 50px;
}

@media (max-width: 991px) {
  footer p {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .logo-footer {
    height: 25vw;
    margin-left: 40px;
  }
}

.reseaux {
  margin: 40px 270px 0 50px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .reseaux {
    margin: 0px 70px 50px 120px;
  }
}

iframe {
  margin-top: 120px;
}

@media (max-width: 991px) {
  iframe {
    margin: 0 1px;
    width: 100%;
  }
}
